torch
torchvision
torchaudio
transformers==4.40.0
datasets==2.18.0
accelerate==0.27.0
evaluate==0.4.1
jiwer==3.0.1
tensorboard==2.15.0
librosa==0.10.1
soundfile==0.12.1
scipy==1.12.0
pandas==2.1.4
numpy==1.24.3
tqdm==4.67.0
huggingface-hub==0.20.0
yt-dlp
pydub==0.25.1